@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* -------- Header ---------- */

header {
  background-color: #3a3939;
  height: 50px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}

a:hover {
  border-bottom: 1px solid #3dd94b;
}

.logo {
  margin-left: 10px;
}

/* -------- Table game ---------- */

.table-game,
.rules-game {
  background: radial-gradient(#56aa4e, #0d3c30);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-computer {
  display: grid;
  grid-template-columns: 250px 350px 250px;
  grid-template-rows: auto;
  grid-template-areas:
    ".       computer   ."
    "points  cards      ."
    "circle  cards      .";
  margin-bottom: 50px;
}

.container-user {
  display: grid;
  grid-template-columns: 250px 350px 250px;
  grid-template-rows: auto;
  grid-template-areas:
    ". cards-user circle-user"
    ". cards-user points-user"
    ". user .";
  margin-top: 50px;
}

/* -------- Display points ---------- */

h1 {
  color: #ffffff;
  font-size: 42px;
}

.computer-circle,
.user-circle {
  height: 70px;
  width: 70px;
  background-color: rgb(255, 252, 252);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 60%;
  justify-self: center;
}

h2 {
  color: #3dd94b;
}

/* -------- Display computer  ---------- */
.computer-circle {
  grid-area: circle;
  justify-self: center;
}

.computer-name {
  grid-area: computer;
  justify-self: center;
}

#computer-cards {
  grid-area: cards;
  justify-self: center;
}

.computer-points {
  grid-area: points;
  justify-self: center;
  align-self: end;
  margin-bottom: 0.6rem;
}

/* -------- Display user  ---------- */

.user-name {
  grid-area: user;
  justify-self: center;
  margin-bottom: 3rem;
}

.user-points {
  grid-area: points-user;
  justify-self: center;
}

.user-circle {
  grid-area: circle-user;
  justify-self: center;
  align-self: end;
  margin-bottom: 0.6rem;
}

#user-cards {
  grid-area: cards-user;
  justify-self: center;
}

.message {
  margin-top: 2rem;
}

/* -------- Button styles ---------- */

.choices-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #ffffff;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  min-width: 0;
  padding: 16px 24px;
  width: 200px;
  height: 70px;
  border: none;
  margin: 10px 4px 4px 10px;
  font-size: 20px;

  /* animation */
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
}

.hit {
  background-color: #cbe1ba;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stand {
  background-color: #e1baba;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stand[disabled] {
  background-color: rgb(175, 162, 162);
}

.hit[disabled] {
  background-color: rgb(175, 162, 162);
}

button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

/* -------- Rule page  ---------- */

.title-rule {
  margin-bottom: 50px;
}

p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;

  text-align: center;
}

.container-choices {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: auto;
  grid-template-areas:
    " hit stand"
    " hit-p stand-p";
  margin-top: 50px;
  gap: 10px;
}

.rule-btn-stand {
  grid-area: stand;
  justify-self: center;
}

.rule-btn-hit {
  grid-area: hit;
  justify-self: center;
}

.hint-rule {
  grid-area: hit-p;
  justify-self: center;
  align-items: center;
}

.stand-rule {
  grid-area: stand-p;
}

.rule-card {
  width: 150px;
  height: 230px;
}

.rule-card:hover {
  box-shadow: 0 20px 20px -4px rgb(220, 202, 128);
}

.container-cards {
  display: flex;
  align-items: center;
  margin: 50px 0px 50px 0px;
  justify-content: center;
}

.point-p {
  margin: 0px 15px 0px 15px;
}
